---
import Layout from "../../layouts/Layout.astro";
import Accordion from "../../components/Accordion.astro";
import Task from "../../components/Task.astro";
import ActivityFeed from "../../components/ActivityFeed.astro";
import EditAddressForm from "../../components/react/EditAddressForm";

const { id } = Astro.params;

const accordionItems = [
  {
    id: "get-approved",
    headerPrefix: "Step 1:",
    header: "Get Approved",
    body: "This process takes time, so securing your pre-approval letter early is essential. It determines your budget, helping to focus your search on affordable options.",
  },
  {
    id: "make-offer",
    headerPrefix: "Step 2:",
    header: "Make an Offer",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    id: "escrow",
    headerPrefix: "Step 3:",
    header: "Escrow",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    id: "closing",
    headerPrefix: "Step 4:",
    header: "Closing",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    id: "moving-in",
    headerPrefix: "Step 5:",
    header: "Moving In",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
];

const steps = {
  "get-approved": {
    description:
      "To get pre-approved, start by collecting and upload your documents to your Bloomsday portal. When you are ready we’ll help you package up your documents and share with your chosen lender.",
    tasks: [
      {
        headerIcon: "assets",
        header: "Assets",
        checkList: [
          { status: true, label: "Bank Statement" },
          { status: false, label: "2023 Tax Returns" },
          { status: true, label: "2023 W-2 Statement" },
          { status: false, label: "Brokerage Statement" },
          { status: false, label: "Retirement Statement" },
          { status: false, label: "Gift Letter" },
        ],
      },
      {
        headerIcon: "income",
        header: "Income",
        hasGroups: true,
        checkListGroups: [
          {
            title: "If Employed",
            checkList: [
              { status: false, label: "Pay Stubs" },
              { status: false, label: "Employment Letter" },
            ],
          },
          {
            title: "If Self-Employed",
            checkList: [
              { status: false, label: "Business Tax Returns" },
              { status: false, label: "Profit-Loss Statement" },
            ],
          },
        ],
      },
      {
        headerIcon: "debt",
        header: "Debt",
        checkList: [
          { status: false, label: "Student Loans" },
          { status: false, label: "Car Loan Statement" },
          { status: false, label: "Credit Card" },
          { status: false, label: "Divorce Decree" },
          { status: false, label: "Evidence of Child Support" },
          { status: false, label: "Bankruptcy" },
        ],
      },
      {
        headerIcon: "reports",
        header: "Reports",
        checkList: [
          { status: false, label: "Credit History Report" },
          { status: false, label: "Pre-Approval Letter" },
          { status: false, label: "Loan Estimate" },
        ],
      },
    ],
  },
  "make-offer": {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
    tasks: [
      {
        headerIcon: "write",
        header: "Prepare Offer",
        checkList: [
          { status: false, label: "List Item" },
          { status: false, label: "List Item" },
        ],
      },
      {
        headerIcon: "accept",
        header: "Offer Accepted",
        checkList: [
          { status: false, label: "List Item" },
          { status: false, label: "List Item" },
        ],
      },
      {
        headerIcon: "reject",
        header: "Offer Rejected",
        checkList: [
          { status: false, label: "List Item" },
          { status: false, label: "List Item" },
        ],
      },
      {
        headerIcon: "counter",
        header: "Counter Offer",
        checkList: [
          { status: false, label: "List Item" },
          { status: false, label: "List Item" },
        ],
      },
    ],
  },
  escrow: {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
    tasks: [
      {
        headerIcon: "home-inspections",
        header: "Inspections",
        checkList: [
          { status: false, label: "Home Inspection" },
          { status: false, label: "Mold Inspection" },
          { status: false, label: "Radon Inspection" },
          { status: false, label: "HVAC Inspection" },
          { status: false, label: "Pest Inspection" },
          { status: false, label: "Septic Inspection" },
          { status: false, label: "Chimney Inspection" },
          { status: false, label: "Electrical Inspection" },
          { status: false, label: "Foundation Inspection" },
        ],
      },
      {
        headerIcon: "home-appraisals",
        header: "Appraisals",
        checkList: [
          { status: false, label: "Property Valuation" },
          { status: false, label: "Title Review" },
          { status: false, label: "Seller Disclosure Letter" },
        ],
      },
      {
        headerIcon: "repairs",
        header: "Repairs",
        checkList: [
          { status: false, label: "Request Discount Price" },
          { status: false, label: "Request Seller Credits" },
          { status: false, label: "Requset Seller Fix Issues" },
        ],
      },
    ],
  },
  closing: {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
    tasks: [
      {
        headerIcon: "key",
        header: "Closing",
        checkList: [
          { status: false, label: "Closing Disclosure" },
          { status: false, label: "Check or Wire Transfer" },
          { status: false, label: "Homeowner's Insurance" },
          { status: false, label: "Property Survey" },
        ],
      },
    ],
  },
  "moving-in": {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
    tasks: [
      {
        headerIcon: "moving-in",
        header: "Moving In",
        checkList: [
          { status: false, label: "Schedule a  Deep Clean" },
          { status: false, label: "Schedule Moving Company" },
          { status: false, label: "Set up HOA Account" },
          { status: false, label: "Change Locks" },
          { status: false, label: "Replace Smoke Detectors" },
          { status: false, label: "Transfer Utilities" },
          { status: false, label: "Update Mailing Address" },
          { status: false, label: "Update Account Addresses" },
          { status: false, label: "Update Driver's License" },
          { status: false, label: "Update Car Registration" },
          { status: false, label: "Register with School District" },
          { status: false, label: "Schedule Home Improvements" },
        ],
      },
    ],
  },
};
---

<Layout title="Bloomsday">
  <div class="mt-4">
    <EditAddressForm
      client:only="react"
      breadcrumbs={[
        { title: "Home", url: "#" },
        { title: "Progress Tracker", url: "#" },
      ]}
    />
  </div>
  <div class="flex flex-row mx-6 py-8 px-6 border border-sage rounded-md">
    <div class="basis-1/4">
      <Accordion items={accordionItems} />
    </div>
    <div class="flex flex-col basis-3/4 pl-9">
      <p class="text-lg text-darkgreen font-medium">
        {steps[id].description}
      </p>
      <div class="flex grow gap-3.5 mt-5">
        {
          id == "moving-in" ? (
            <div class="basis-1/2">
              <Task
                headerIcon={steps[id].tasks[0].headerIcon}
                header={steps[id].tasks[0].header}
                checkList={steps[id].tasks[0].checkList}
              />
            </div>
          ) : (
            steps[id].tasks.map(
              ({
                headerIcon,
                header,
                hasGroups,
                checkList,
                checkListGroups,
              }) => (
                <div class="basis-1/4">
                  <Task
                    headerIcon={headerIcon}
                    header={header}
                    hasGroups={hasGroups}
                    checkList={checkList}
                    checkListGroups={checkListGroups}
                  />
                </div>
              )
            )
          )
        }
      </div>
    </div>
  </div>
  <ActivityFeed />
</Layout>
