---
import { Icon } from "astro-icon/components";
import { getAddress } from "../pages/api/getAddress";
import EditAddressForm from "./react/EditAddressForm";

const graphqlEndpoint = import.meta.env.PUBLIC_HASURA_BASE_URL;
const token = await Astro.locals.auth().getToken({ template: "hasura" });
const address = await getAddress(graphqlEndpoint, token);
---

<div class="pr-6 gap-4 flex">
  <div class="flex flex-col items-baseline gap-2 group relative">
    <div class="flex">
      <p class="text-base leading-4 text-darkgreen mt-1.5 font-medium">
        Future Home
      </p>
      <button id="addressFrom" class="flex ml-3 mt-0.5">
        <Icon name="edit" width={20} height={21} />
      </button>
    </div>

    <p id="showAddress" class="text-1.5xl font-medium text-darkgreen">
      {
        address
          ? `${address.address1}, ${address.city}, ${address.state} ${address.zip5}`
          : "Street, City, State 00000"
      }
    </p>
    <EditAddressForm client:only="react" address={address} />
  </div>
</div>