---
import { Icon } from "astro-icon/components";
import { Dropdown, DropdownItems } from "astro-navbar";

const { title, icon, href = "#", items = [] } = Astro.props;
---

{
  items.length == 0 ? (
    <a
      href={href}
      class="flex items-center space-x-2 focus:bg-cream hover:bg-cream cursor-pointer rounded px-2 py-3"
    >
      <Icon name={icon} width={24} height={24} class="shrink-0" />
      <span class="text-darkgreen leading-4 grow font-medium">{title}</span>
    </a>
  ) : (
    <Dropdown class="group">
      <button class="flex items-center space-x-2 focus:bg-cream hover:bg-cream cursor-pointer rounded px-2 py-3 w-full">
        <Icon name={icon} width={24} height={24} class="shrink-0" />
        <span class="text-darkgreen text-left leading-4 grow font-medium">
          {title}
        </span>
        <Icon
          name="chevron"
          width={24}
          height={24}
          class="shrink-0 group-open:rotate-180"
        />
      </button>
      <DropdownItems>
        <ul>
          {items.map((item) => (
            <li class="py-2 pr-2 pl-10">
              <a
                href={item.href}
                class="text-darkgreen text-sm leading-none font-medium block"
              >
                {item.title}
              </a>
            </li>
          ))}
        </ul>
      </DropdownItems>
    </Dropdown>
  )
}
