---
import { ClerkLayout } from "astro-clerk-auth/components/control";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import "./global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<ClerkLayout>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>
    <body>
      <main>
        <div id="header">
          <Header mode="regular" />
        </div>
        <div class="flex flex-row">
          <div><Sidebar /></div>
          <div id="content" class="overflow-y-scroll"><slot /></div>
        </div>
      </main>
    </body>
  </html>
  <script>
    function setContent() {
      const header = document.getElementById("header");
      const sidebar = document.getElementById("sidebar");
      const content = document.getElementById("content");

      const headerHeight = header.offsetHeight;
      const sidebarWidth = sidebar.offsetWidth;

      const contentHeight = window.innerHeight - headerHeight;
      const contentWidth = window.innerWidth - sidebarWidth;

      sidebar.style.height = `${contentHeight}px`;
      content.style.maxHeight = `${contentHeight}px`;
      content.style.minWidth = `${contentWidth}px`;
    }

    setContent();
    window.addEventListener("resize", setContent);
  </script>
</ClerkLayout>
